@model DSW1_CL2_VillavicencioCardenasJoseAntonio.Models.Horario

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomcurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomcurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecinicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecinicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fectermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fectermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vacantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vacantes)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Registrar" method="post">
        @Html.Hidden("codigo",Model.codhorario)     

        <em>Ingrese el nombre de alumno: </em>        
        @Html.TextBox("alumno","")
        <br />

        <em>Ingrese el email: </em>
        @Html.TextBox("email","")
        <br />      
        
        <a asp-action="Consulta" class="btn btn-primary">Ir a Consulta</a>
        <input type="submit" value="Agregar" class="btn btn-primary" />
        
    </form>
</div>

<div>
    @ViewBag.mensaje
</div>
